<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="super-icons.html">
<link rel="import" href="../bower_components/paper-styles/element-styles/paper-material-styles.html">
<dom-module id="dataset-card">
    <template>
        <style include="paper-material-styles iron-flex iron-flex-alignment">
            :host {
                display:block;
                flex-shrink: 1;
                flex-grow: 0;
                width:300px;;
                height:300px;
                 padding:1px; 
                --mr-color: 'teal';
                --text-color:black;
                --inverse-color: white;
                --valid-color: 'white';
                --card-color: 'white';
                
            }
            .add-button {
                border-radius: 50%;
                background: var(--text-color);
                color:var(--inverse-color);
                @apply --paper-material-elevation-2;
            }
            .more {
                /* @apply --paper-material-elevation-2; */
                color:grey;
                align-self:center;
                border-radius:50%;

            }
            :host > paper-card {
                width:100%;
                height:100%;
                @apply --paper-material-elevation-2;
                padding:10px;
                color: var(--text-color);
                background: var(--card-color);
            }
            a {
                color: var(--text-color);
            }
            
            .machine_readability {
            }
            .validity {
            }
            .novertmargin {
                margin: 5px 0 5px 0;
            }
            .details {
                align-self:center;
                margin-bottom:10px;
            }
    </style>

    <paper-card class="vertical layout justified">
        <div class="horizontal layout justified center">
            <h3 class="novertmargin">[[data.title]]</h3>
            <div class="horizontal layout" style="align-items:flex-start">
                <div style="display:inline-block">
                    <iron-icon class="machine_readability" icon="[[mrIcon]]"></iron-icon>
                    <paper-tooltip>[[data.title]] is [[boolWord]] machine readable</paper-tooltip>
                </div>
                <div style="display:inline-block">
                    <iron-icon class="validity" icon="[[validIcon]]"></iron-icon>
                    <paper-tooltip>[[data.title]] is [[boolValidStr]] [[data.format]] file</paper-tooltip>
                </div>
            </div>
        </div>
        <h3 class="novertmargin">[[data.owner]]</h3>
        <div style="flex: 1 0 auto">
            <template is="dom-if" if="[[data.councils]]">
                <ul>
                    <template is="dom-repeat" items="[[firstTwo(data.councils)]]">
                        <li>[[item]]</li>
                    </template>
                </ul>
            </template>
            <template is="dom-if" if="[[data.fields]]">
                <table>
                    <tr><th>Field</th><th>Value (years)</tr>
                    <tr><td>Increment</td><td>5</td></tr>
                    <tr><td>Range</td><td>0 - 100</td></tr>
                </table>
            </template>
        </div>
        <paper-icon-button icon="super-icons:details" class="add-button details" on-click="fireView"></paper-icon-button>
        <div style="display:flex;flex-direction:row;align-items:flex-end">
            <div style="flex:1">
                <a href="[[data.url]]" alt="[[data.title]]">Download</a>
            </div>
            <paper-icon-button style="flex: 0 0 auto" icon="[[computeIcon(cat)]]" toggles class="add-button" on-tap="fireMerge"></paper-icon-button>
            <div style="flex: 1;text-align:right">
                <iron-icon icon="super-icons:map" hidden$="[[!geographical]]"></iron-icon>
                <label>[[data.format]]</label>
            </div>
        </div>
    </paper-card>
    </template>
    <script>
        class DatasetCard extends Polymer.Element {
            static get is() { return 'dataset-card'; }
            static get properties() {
                return {
                    title: String,
                    data: Object,
                    url: String,
                    machine_readable: Boolean,
                    valid: Boolean,
                    owner: String,
                    format: String,
                    source_type: String,
                    validIcon: {
                        type: String,
                        computed: 'computeBooleanIcon(data.valid)'
                    },
                    mrIcon: {
                        type: String,
                        computed: 'computeBooleanIcon(data.machine_readable)'
                    },
                    geographical: {
                        type: Boolean,
                        value: () => true,
                        computed: 'computeGeographical(data.format)'
                    },
                    boolWord: {
                        type: String,
                        computed: 'boolToWord(data.machine_readable)'
                    },
                    boolValidStr: {
                        type: String,
                        computed: 'boolValidToStr(data.valid)'
                    },
                    idx: Number,
                    cat: String,

                }
            }
            static get observers() {
                return [
                    'observeCardType(data.source_type)'
                ]
            }

            computeIcon(cat) {
                return cat == 'bundle' ? 'clear' : 'add';
            }

            fireView(e) {
                console.log(e)
                this.dispatchEvent(new CustomEvent('view-dataset',
                    {detail: {data: this.data}, composed: true, bubbles: true}))
            }

            fireMerge(e) {
                this.dispatchEvent(new CustomEvent('merge-dataset',
                    {detail: {data: this.data, idx: this.idx}, composed: true, bubbles: true}))
            }

            firstTwo(councils) {
                return councils.slice(0,2);
            }

            boolToWord(mr) {
                return mr ? "" : "not"
            }

            boolValidToStr(validity) {
                console.log(validity)
                return validity ? "a valid" : "an invalid"
            }

            computeBooleanIcon(val) {
                return val ? "check-circle" : "cancel";
            }
            observeCardType(source_type) {
                let val = source_type == 'census' ? '#1f78b4' : 'white';
                let textColor = source_type == 'census' ? 'white' : 'black';
                let inverseColor = source_type == 'census' ? 'black' : 'white';
                this.updateStyles({
                    '--card-color': val,
                    '--text-color': textColor,
                    '--inverse-color': inverseColor
                })
            }
            computeGeographical(format) {
                console.log(format);
                if(['geojson', 'shp', 'kml'].indexOf(format) != -1) {
                    return true
                }
                return false;
            }
        }
        window.customElements.define(DatasetCard.is, DatasetCard);
    </script>
</dom-module>